// Файл для переменных.

// Экраны на ширину.
$mediaWidthDesktop: 1200px;
$mediaWidthTabletMax: 1199px;
$mediaWidthTablet: 768px;
$mediaWidthMobiletMax: 767px;

// Экраны на ретину.
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

// Цвета.
